@mixin Flexible(
  $justify: null,
  $align: null,
  $wrap: null,
  $direc: null,
  $gap: null
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  flex-direction: $direc;
  gap: $gap;
}

@mixin _img($width:null,$height:null,$obj_fit:null,
$border:null,$border-r:null,$obj_pos:null) {
   width: $width;
   height: $height;
   object-fit: $obj_fit;
   object-position: $obj_pos;
   border: $border;
   border-radius: $border-r;
}